
body{
    background: url('https://i.ibb.co/2d4kR3t/moviebackground.jpg'),
    linear-gradient(rgba(0,0,0,0.6), rgba(15, 15, 15, 0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color:#fff;
}

section h2{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    padding-top: 15%;

}

h2:hover{
    color:aqua;
    
}

.increament-decrement{
    display: flex;
    padding-top: 10px;
    gap: 70px;
    justify-content: center;
   
}

button{
    background-color: #052281;
    color:#fff;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    border-style: none;
}

button:hover{
    background-color: #18729c;
}

.increament-decrement .counterdisplay{
    font-size: 30px;
    padding: 10px 20px;
    background-color: rgb(59, 1, 66);
}